@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

html,
body,
.App,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Zilla Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  padding: 0;
  width: 40%;
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.navbar {
  padding: 0;
  background-color: #388087;
  font-size: 125%;
}

.navbar a {
  color: #fff;
}

section {
  min-height: 80%;
}

footer {
  background-color: #388087;
  text-align: center;
  padding: 50px;
  color: #fff;
  margin-top: 10px;
}

.filter {
  color: #388087;
  display: inline-block;
  padding: 12px;
  font-size: 14px;
  border: 2px solid #388087;
}

.filter:hover {
  cursor: pointer;
  background-color: #f6f6f2;
}

.page-link {
  color: #388087;
  border: 1px solid #388087;
}

.item-selected {
  color: #fff;
  background-color: #388087;
}

.item-selected:hover {
  background-color: #6fb3b8;
  color: #fff;
}

.search {
  border: 2px solid #388087;
  border-radius: 6px;
  padding: 8px;
}

.card {
  border: 1px solid #badfe7;
  box-shadow: 5px 5px 5px #f6f6f2;
}

.card-img-top {
  width: 100%;
  max-height: 175px;
  object-fit: cover;
  padding: 15px;
}

.home-img {
  max-height: 400px;
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    width: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .navbar-brand {
    width: 8%;
  }

  section {
    background-image: url("/plants.jpg");
    background-position: right top;
    background-repeat: no-repeat;
  }
}
